/* 
    Los mixins son como funciones 
*/
@mixin telefono { // Creacion
    @media (min-width: $telefono) { // Los mq funcioan cuando se pasa esa cantidad de pixeles
        @content; // Para iindicarle que el contenido se lo van a pasar cuando lo usen
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}