.boletos {
    padding: $separacion 0;

    h3 {
        text-align: center;
        color: $blanco;
    }

    .contenedor-boletos {

        @include tablet {
            @include grid(2, $separacion);
        }
    }
}

.pase {

    .nombre-pase {
        text-align: center;
        font-size: 2.4rem;
        color: $blanco;
    }

    &-header, 
    &-footer {
        padding: .5rem;
        p {
            text-align: center;
            color: $blanco;
            margin: 0;
        }
    }

    &-header {
        background-color: $rosa;
        p {
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }
    &-body {
        background-color: $blanco;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                background-color: $blanco;
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
    &-footer {
        background-color: $morado;
        p {
            font-size: 2.4rem;
            font-weight: $bold;
        }
    }

}