// Codigo del diseño del header

.header {
    background-color: $verde;

    @include tablet {
        &.fijo {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            box-shadow: 0 .1rem 2rem #333;
        }
    }

    .contenido-header { // Anidacion porque es hijo del header
        padding: $separacion / 2 0; // No se necesita hacer uso de calc porque SASS funciona como JS
        
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 { 
        color: $blanco;
        margin-bottom: 1rem;
        text-align: center; // Cuando tiene display flex eso no sirve
        
        @include desktop {
            margin-bottom: 0;
        }
    }
}

.navegacion-principal { // Aun que es hijo del header no esta anidado porque ya se hace muy grande el codigo css

    display: flex;
    gap: 2rem;
    justify-content: center;
    
    a {
        color: $blanco;
        font-size: 2rem;
        
        &:hover { // Con & hace referencia al elemento que padre osea el enlace
            color: $amarillo;
        }
    }
}