.video {
    position: relative; // Base o contenedor de absolute
    max-height: 70rem; 
    overflow: hidden;
    .overlay {
        position: absolute; // Tomara como contenedor a relative y se va a posicion siempre dentro de relative. Funciona como coodenadas
        // top: 0;
        // right: 0;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#891c1e+1,9e37f2+72,ffffff+100&0.8+0,0.5+99 */
        background: -moz-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%, rgba(137,28,30,0.8) 1%, rgba(158,55,242,0.58) 72%, rgba(252,248,255,0.5) 99%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%,rgba(137,28,30,0.8) 1%,rgba(158,55,242,0.58) 72%,rgba(252,248,255,0.5) 99%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(137,28,30,0.8) 0%,rgba(137,28,30,0.8) 1%,rgba(158,55,242,0.58) 72%,rgba(252,248,255,0.5) 99%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc891c1e', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    video {
        display: block; // Para quitar la linea de abajo, todos los videos tiene un display un line
        width: 100%;
    }
}

.contenido-video {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1; /* Para posicionar defrente o detras 1 es enfrente -1 detras, como si fuera word */

    h2 {
        color: $blanco;
        display: flex;
        flex-direction: column; /* Hace que un salto de linea en un texto por */
        align-items: flex-start; /* Hace que el ancho del span no depende del h2*/
        font-size: 7rem;

        span {
            background-color: $rosa;
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }
}

